body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

nav {
  background-color: #db1b1b;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  height: 50px;
  margin-right: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ddd;
}

.App {
  padding: 20px;
}

/* Center the form on the page */
.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f8f8;
}

/* Style the form elements */
.register-container input,
.register-container select,
.register-container button {
  width: 300px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Style the button */
.register-container button {
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-container button:hover {
  background-color: #555;
}

/* Error message style */
.error-message {
  color: red;
  margin: 10px 0;
}

form {
  background-color: #fff;
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

form input,
form select,
form button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background-color: #ee1515;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #d64949;
}

.document-list {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.document-list input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.document-item {
  margin: 10px 0;
}

.document-item a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}

.document-item a:hover {
  color: #555;
}
